/* 主体样式 */
#content{
	clear:left;
	margin:10px auto;
	position:relative;
	width:990px;
	height:auto;
}
.janshop{
	height:560px;
	overflow:hidden;
	padding:10px 0;
}
/* 商品分类 */
#jnCatalog{
	float:left;
	height:560px;
	margin:0 11px 0 0;
	overflow:hidden;
	width:187px;
}
#jnCatalog h2{
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:12px;
	text-indent:13px;
	background-color:#6E6E6E;
}

.jnCatainfo{
	-moz-border-bottom-colors: none;             /*浏览器兼容*/
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	border:1px solid #6E6E6E;
	border-image: none;
	border-style:none solid solid;
	border-width:0 1px 1px;
	height:524px;
	overflow:hidden;
	padding:5px 10px 0;
	width:165px;
}
.jnCatainfo h3{
	border-bottom:1px solid #EEEEEE;
	height:24px;
	line-height:24px;
	width:164px;
}
.jnCatainfo ul.list{
	float:left;
	padding:0 2px 8px;
}
.jnCatainfo li{
	color:#AEADAE;
	float:left;
	height:24px;
	line-height:24px;
	width:79px;
	overflow:hidden;
	position:relative;
}
.jnCatainfo li a{
	color:#444444;
}
.jnCatainfo li a:hover{                       /*悬停*/
	color:#008CD7;
	text-decoration:none;
}
.jnCatainfo li a.promoted{
	color:#F9044E;
}
.jnCatainfo li .hot{
	background:url("../images/hot.gif") no-repeat scroll 0 0 transparent;
	height:16px;
	position:absolute;
	top:0;
	width:21px;
}
/* 大屏广告 */
#jnImageroll{
	float:left;
	height:320px;
	margin:0 11px 0 0;
	overflow:hidden;
	position:relative;
	width:550px;
}
#jnImageroll img{
	position:absolute;
	left:0;
	top:0;
}
#jnImageroll div{
	bottom:0;
	float:left;
	overflow:hidden;
	position:absolute;
}
#jnImageroll div a{
	background-color:#444;
	color:#FFF;
	display:inline-block;
	float:left;
	height:32px;
	margin-right:1px;
	overflow:hidden;
	padding:5px 15px;
	text-align:center;
	width:79px;
}
#jnImageroll div a:hover{
	text-decoration:none;
}
#jnImageroll div a em{
	cursor:pointer;
	display:block;
	height:16px;
	overflow:hidden;
	width:79px;
}
#jnImageroll .last{
	margin:0;
	width:80px;
}
#jnImageroll a.chos{
	background:url("../images/adindent.gif") no-repeat center 39px #37A7D7;
	color:#FFF;
}
/* 最新动态 */
#jnNotice{
	float:left;
	height:321px;
	overflow:hidden;
	width:230px;
}
#jnMiaosha{
	float:left;
	height:176px;
	margin-bottom:10px;
	overflow:hidden;
	width:230px;
}
.JS_css3 img {
	-webkit-transition:1s all;
	-moz-transition:1s all;
	-o-transition:1s all;
	transition:1s all;
}
.JS_css3:hover img {
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	transform:rotate(720deg);
}
#jnNoticeInfo{
	float:left;
	border:1px solid #DFDFDF;
	height:133px;
	overflow:hidden;
	width:228px;
}
#jnNoticeInfo h2{
	height:23px;
	line-height:23px;
	border-bottom:1px solid #DFDFDF;
	text-indent:12px;
}
#jnNoticeInfo ul{
	float:left;
	padding:6px 2px 0 12px;
}
#jnNoticeInfo li{
	height:20px;
	line-height:20px;
	overflow:hidden;
}
#jnNoticeInfo li a{
	color:#666666;
}
#jnNoticeInfo li a:hover{
	color:#008CD7;
	text-decoration:none;
}
/* 品牌活动 */
#jnBrand{
	float:left;
	height:230px;
	margin:10px 0 0;
	overflow:hidden;
	width:790px;
}
#jnBrandTab{
	border-bottom:1px solid #E4E4E4;
	height:29px;
	position:relative;
	float:left;
	width:790px;	
}
#jnBrandTab h2{
	height:29px;
	line-height:29px;
	position:absolute;
	left:0;
	width:100px;
}
#jnBrandTab ul{
	position:absolute;
	right:0;
	top:10px;
}
#jnBrandTab li{
	float:left;
	margin:0 10px 0 0;
}
#jnBrandTab li a{
	background-color:#E4E4E4;
	color:#000;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 10px;
}
#jnBrandTab .chos{
	background:url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
	padding-bottom:3px;
}
#jnBrandTab .chos a{
	background-color:#FA5889;
	color:#FFF;
	outline:0 none;
}
#jnBrandContent{
	float:left;
	height:188px;
	overflow:hidden;
	margin:8px 5px;
	width:790px;
	position:relative;
}
#jnBrandList{
	position:absolute;
	left:0;
	top:0;
	width:3200px;
}
#jnBrandContent li{
	float:left;
	height:188px;
	overflow:hidden;
	padding:0 5px;
	position:relative;
	width:185px;
}
#jnBrandContent li img{
	left:5px;
	position:absolute;
	top:0;
}
#jnBrandContent li span{
	background-color:#EFEFEF;
	bottom:0;
	color:#666;
	display: block;
	fon-size:14px;
	height:24px;
	line-height:24px;
	overflow:hidden;
	position:absolute;
	text-align:center;
	width:183px;
}
#jnBrandContent li a{
	color:#666;
	font-size:14px;
}
#jnBrandContent li a:hover{
	color:#008CD7;
	text-decoration:none;
}
/* footer */
#footer {
    margin: 25px 180px;
    width: 990px;
	height:10px;
    color: #666666;
	float:left;
    text-align: center;
}